APP_NAME=VoiceShield
ENVIRONMENT=development
SECRET_KEY=changeme
SUPABASE_URL=Your SUPABASE URL HERE
SUPABASE_ANON_KEY=Your ANON KEY HERE
HF_SPACE_URL=https://shauriya24-voiceshield.hf.space
MSG91_AUTH_KEY=Your MSG91 AuthKey here
MSG91_TEMPLATE_ID=Your MSG91 OTP Template ID here
